{% extends "app/templates/base.jinja2" %}

{% block title %}Example View WebPySkeleton{% endblock %}

{% block head %}
    <link href="{{ CSS }}/main.css" rel="stylesheet">
        <script src="{{ JS }}/main.js"></script>
{% endblock %}

{% block content %}

    {% set flash = flash() %}
    {% if flash.notice %}
       {{ flash.notice[0] }}
    {% endif %}
    <h2>Example View WebPySkeleton</h2>
{% endblock %}
